<div class="events-card">
  <div class="events-card-header">
    {{events_name}}
  </div>
  <div class="card-body">
    <p>
      Description:
      {{description}}
    </p>
    <p>
      Event:
      {{events_name}}
    </p>
    {{#if invite_others}}
      <p class="invite-others">
        Invite Friends
      </p>
    {{/if}}
  </div>
</div>