<div>
    <h2>Create An Account</h2>
    <form>
        User name: <input type="text">
        <br>
        Password: <input type="password">
        <br>
        Choose a color: <input type="color">
        <br>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
    </form>
</div>