<section class = "section">
<div class = "events-container box container">
<span class = "title">
  <header class="chat-header">
    <h1>Delete Events:</h1>
  </header>
  </span><br><br>

  <main class="box" id="delete-event-list">
    <ul>
     {{#each events}}
      <li>
        {{!-- <h1>{{this.event_name}}</h1>
        <p>Date: {{this.date}}</p>
        <p>Time: {{this.start_time}} - {{this.end_time}}</p> --}}
      </li>
    {{/each}}
    </ul>
  </main>
</div>
</section>

<script src="/js/delete-event.js"></script>
<script src="/js/scripts.js"></script>