 {{!-- is this used? --}}
 {{!-- <div class="modal" id="our-modal">
        <div class="modal-background"></div>


        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Event:</p>
                <button class="delete" aria-label="close" id="close-button"></button>
            </header>
            <section class="modal-card-body">
                <form action="" id="user-input">
                    <input class="input is-large has-text-centered" type="text"
                    placeholder="Where">
                    <input class="input is-large has-text-centered" type="text"
                    placeholder="What">
                    <input class="input is-large has-text-centered" type="text"
                    placeholder="Who">
                </form>
            </section>
        </div> --}}