<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meet-IO</title>
  <link rel="stylesheet" type="text/css" href="css/jass.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <header>
    <h1>Welcome to Meet-IO</h1>
  </header>
    <nav class="navbar">
      <a href="/">Homepage</a>
      {{#if loggedIn}}
     <a href="/"><button class="btn" id="logout">Logout</button></a>
      {{/if}}
    </nav>
  <main>
    <aside>
      <h2>Let's Get Organized</h2>
    </aside>
    <div class="calendar">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>