<body onload="reloadUserList()">
<br />
{{!-- <button type="submit" id="new-event-form" class="btn new-event-button"> --}}
<button class="button is-block is-fullwidth is-primary is-medium is-rounded new-event-button" type="submit" id="new-event-form">
    <a class="link" href="dashboard/new">Add New Event</a>
</button>
  <div>
    <h2>Welcome: <span id="current-user">{{username}}</span>
      </h2>
  </div>

<section>
<div>
{{>calendar }}
    <div>
    {{#if events.length}}

        {{#each events as |event|}}
        {{> events-details event}}
        {{/each}}

    {{/if}}
    </div>
</div>
</section>

{{>chat-box }}
</body>
{{!-- possibly use later --}}
{{!-- <script>
    document.querySelector("#submit").addEventListener("click", clickFunction);
    function clickFunction(){
        document.querySelector("#submit").innerHTML = "{{>events-details}}";
    }
</script> --}}
