  <body onload="reloadUserList()">
  <div>
    <h2 class="is-size-1 has-text-weight-bold">Welcome: <span id="current-user">{{username}}</span>
      </h2>
  </div>
<div>
  {{>calendar }}
  <div> 
      {{#each events as |events|}}
      {{> events-details}}
      {{/each}}
  </div>
</div>
  {{> chat-box}}
 </body>