  <body onload="reloadUserList()">
  <div>
    <h2 class="is-size-1 has-text-weight-bold">Welcome: <span id="current-user">{{username}}</span>
      </h2>
  </div>
<section>
<div style="display: none">
{{>calendar }}
    <div>
    {{#if events.length}}

        {{#each events as |event|}}
        {{> events-details event}}
        {{/each}}

    {{/if}}
    </div>
</div>
<div id="background-main1">
{{>full-event-list}}
</div>
</section>
 </body>