<section class="hero is-primary is-medium">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="is-size-1 has-text-weight-bold">meetIO {{{get_emoji}}}</h1>
      <h2 class="page-title is-size-3">Login</h2>

      
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
          <input class="input" type="text" placeholder="pick a username" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input form-control" type="password" id="password-login" autofocus="true" />
        </div>
        <div>
          <button type="submit" class="btn btn-primary mt-3">Login</button>
        </div>
        <br>
        <div>
          <p>Don't have an account yet? Sign up here!</p>
          <button class="btn btn-primary has-text-centered mt-3"><a href="/signup">Signup</a></button>
        </div>
      </form>
    </div> 
</section>
</div>
</div>
</div>
</div>


<script src="/js/login.js"></script>