<form action="" id="user-input event-form">
  <div class="form-group">
    <input
      class="input is-large has-text-centered"
      id="event-date"
      type="date"
      placeholder="Event Date"
    />
  </div>
  <input
    class="input is-large has-text-centered"
    id="start-time"
    type="time"
    placeholder="Start Time"
  />
  <input
    class="input is-large has-text-centered"
    id="end-time"
    type="time"
    placeholder="End Time"
  />
    <input
    class="input is-large has-text-centered"
    id="event-title"
    type="text"
    placeholder="Title"
  />
    <input
    class="input is-large has-text-centered"
    id="content"
    type="text"
    placeholder="Content"
  />
<button type="submit" id="new-event-submit" class="btn new-event-button button is-block is-primary is-medium is-rounded" onclick="window.location.href='/homepage';">
  Submit
</button>
</form>
<script src="/js/add-event.js"></script>
{{!-- need to update script to run from file --}}
<script>
    const burgerIcon = document.querySelector('#burger');
    const navbarMenu = document.querySelector('#nav-links');

    burgerIcon.addEventListener('click', () => {
        navbarMenu.classList.toggle('is-active');
    });
</script>
