#burger.navbar-burger {
    color: white;
}

#burger.navbar-burger:hover {
    background-color:#f1d9b7;
    color: black;
    
}

#navbar-item:active {
    background-color:#f1d9b7;
}

#background-main {
    background-image: url('../images/meetup_2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  #main{
    height:100vh;
  }